:root {
  font-size: 10px;
  cursor: default;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

.firstPage {
  background-image: url(./Images/FPbackground.png);
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

.firstPageBlocks {
  width: max-content;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.firstPageLogo {
  width: 10rem;
}

.firstPageInfo h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 6rem;
  letter-spacing: 0.571rem;
  color: #fff;
}

.firstPageInfo p {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
}

.firstPageScrollSvg {
  display: flex;
  flex-direction: column;
}

.firstPageBlocks svg {
  width: 5rem;
  fill: #48555b;
  margin: 0 auto;
  margin-bottom: 3rem;
  animation: scroll 1.5s infinite;
  cursor: pointer;
}

@keyframes scroll {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(3rem);
    opacity: 0.95;
    fill: #fff;
  }
}

.firstPageScroll {
  margin-bottom: 4rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.37rem;
  color: #fff;
  cursor: pointer;
}

.firstPageBackgroundPhoto {
  width: 100%;
}

.secondPageHeader {
  width: 100%;
  height: 6.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.secondPageHeaderLogo {
  width: 8rem;
  height: 1.8rem;
  margin-left: 25rem;
}

.secondPageHeaderNavBar {
  margin-right: 25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.secondPageHeaderNavBar a {
  text-decoration: none;
  color: #48555b;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.109rem;
}

.secondPageHeaderNavBar a:hover {
  color: #00a4e5;
}

.secondPageStory {
  width: 65%;
  /* background-color: cyan; */
  margin: 5.8rem auto 11.8rem;
}

.secondPageStoryHead {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.231rem;
  color: #48555b;
}

.secondPageStoryLine {
  width: 5rem;
  height: 0.2rem;
  background-color: #00a4e5;
  margin: 1rem auto 0;
}

.secondPageStoryInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}

.secondPageStoryInfoText {
  width: 43%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.secondPageStoryInfoBlocks {
  width: 49%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 3rem;
}

.secondPageStoryInfoBlocks a {
  width: 30%;
  transition: 1s;
}

.secondPageStoryInfoBlocks a:hover {
  opacity: 0.7;
  transform: scaleY(1.2) scaleX(1.1);
}

.secondPageStoryInfoBlocks a:hover h2 {
  top: 20%;
}

.secondPageStoryInfoBlocks a:hover img {
  filter: brightness(0.5);
  filter: drop-shadow(10px 10px 10px black);
}

.secondPageStoryInfoBlocks div {
  position: relative;
  width: 100%;
}

.secondPageStoryInfoBlocks h2 {
  position: absolute;
  top: 5%;
  left: 10%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.4rem;
  font-weight: 800;
  color: #fff;
  letter-spacing: 0.01875rem;
  transition: 1s;
}

.secondPageStoryInfoBlocks img {
  width: 100%;
  transition: 1.2s;
}

.secondPageStoryInfoTextFounded {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #48555b;
  letter-spacing: 0.01875rem;
}

.secondPageStoryInfoTextLorem {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  color: #48555b;
  letter-spacing: 0.01875rem;
  margin-top: 3rem;
}

.thirdPage {
  width: 65%;
  margin: 0 auto;
}

.thirdPageHeader {
  display: flex;
  justify-content: space-between;

  height: 4rem;
}

.thirdPageHeaderLeft {
  width: 24%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.thirdPageHeaderLeftText {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  color: #48555b;
  letter-spacing: 0.2306rem;
}

.thirdPageHeaderLeftLine {
  width: 5rem;
  height: 0.2rem;
  background-color: #00a4e5;
}

.thirdPageHeaderRight {
  width: 62%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.thirdPageHeaderRightLorem {
  width: 69%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: #48555b;
  letter-spacing: 0.02rem;
}

.thirdPageHeaderRight a {
  height: 100%;
  text-decoration: none;
}

.thirdPageHeaderRightButton {
  width: 15rem;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.05rem;
  background-color: #00a4e5;
}

.thirdPageHeaderRightButton:hover,
.forthPageContent div:hover,
.fivthPageSubscribe div:hover {
  background-color: #5dc4ec;
}

.thirdPageHeaderRightButton:active,
.forthPageContent div:active,
.fivthPageSubscribe div:active {
  box-shadow: 0px 0px 4px 2px rgba(95, 83, 87, 0.89);
}

.thirdPageBlocks {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  height: 28.5rem;
}

.thirdPageBlocksBlock {
  width: 25%;
  border: 0.2rem solid #e6e6e6;
  padding: 0 2.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.thirdPageBlocksBlock h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: #48555b;
  letter-spacing: 0.043rem;
}

.thirdPageBlocksBlock p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  color: #48555b;
  letter-spacing: 0.01875rem;
}

.thirdPageBlocksBlock img {
  width: 6.5rem;
  height: 7.5rem;
}

.forthPage {
  margin-top: 11.5rem;
  background-image: url(./Images/FourthPbackground.png);
  background-position: center center;
  background-size: cover;
  height: 70vh;
}

.forthPageContent {
  width: max-content;
  margin: 0 auto;
  padding-top: 12rem;
}

.forthPageContent h2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: #48555b;
  letter-spacing: 0.015rem;
}

.forthPageContent a {
  text-decoration: none;
  margin: 0 auto;
  margin-top: 3.5rem;
  width: 5rem;
}

.forthPageContent div {
  width: 100%;
  background-color: #00a4e5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.05rem;
  text-align: center;
}

.fivthPage {
  width: 100%;
  background-color: black;
}

.fivthPageSubscribe {
  display: flex;
  width: max-content;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  height: 4rem;
}

.fivthPageSubscribe h2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.0846rem;
  margin-right: 6rem;
}

.fivthPageSubscribe input {
  width: 25rem;
}

.fivthPageSubscribe a {
  text-decoration: none;
}

.fivthPageSubscribe div {
  background-color: #00a4e5;
  height: 100%;
  width: 15rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.05rem;
}

.sixthPage {
  background-color: black;
  padding: 4rem 10rem;
}

.sixthPageContent {
  height: 16rem;
  display: flex;
  justify-content: space-between;
}

.sixthPageCompany {
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sixthPageCompany p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.085rem;
}

.sixthPageCompany img {
  width: 10rem;
}

.sixthPageLinks {
  width: 26rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sixthPageLinksNumber {
  display: flex;
  justify-content: space-between;
}

.sixthPageLinks a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.085rem;
  text-decoration: none;
}

.sixthPageLinks a:hover {
  color: rgb(150, 139, 139);
}

.sixthPageLinksHead {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.085rem;
}

.sixthPageLinksNumber a {
  padding-top: 1.4rem;
}

.sixthPageContacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sixthPageContacts p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.085rem;
}

.sixthPageLinksFirst,
.sixthPageLinksSecond,
.sixthPageLinksThird {
  display: flex;
  flex-direction: column;
}
